<footer class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="footer-copyright">
            All articles belong to <a href="https://phys.org">Phys.org</a>
            <br/> 
            <p>@ Copyright 2020</p>

        </div>
</footer>
    
  

