/* general */

body {
    background-color:#343a40;
}


/* Jumbotron */

.jumbotron {
    background: url("../images/galaxy.jpg");
    color: white;
}

.intro-jmbo {
    height: 450px;
}

h1 {
    margin-top: 70px;
}

.space-title {
    margin-top: 20px;
}

/* Scraped Articles/Container */



.empty-text {

    font-weight: bold;
    color: white;
}